@import "tailwindcss" theme(static);

@theme static {
  --font-sans: "Helvetica", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    color: var(--color-zinc-100);
    background: var(--color-zinc-900);
  }
}
